In [1]:
# Daniel Smith
# M04 Programming Assignment
# Selected problems 11.1, 11.2, and 16.8

In [2]:
# 11.1 - Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'. Then, use the interactive interpreter to import the zoo module and call its hours() function.

import zoo
zoo.hours()

'Open 9-5 daily'

In [3]:
# 11.2 - In the interactive interpreter, import the zoo module as menagerie and call its hours() function.

import zoo as menagerie
menagerie.hours()

'Open 9-5 daily'

In [4]:
# 16.8 - Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. As in 16.6, select and print the title column from the book table in alphabetical order.

In [8]:
import sqlite3
from sqlalchemy import create_engine, Table, Column, Integer, String, MetaData

### Create books.db using sqlite3
# Connect to (and create, if needed) the SQLite database
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

# Create the books table, if it doesn't exist
create_table_query = '''
CREATE TABLE IF NOT EXISTS books (
    title TEXT,
    author TEXT,
    year INTEGER
);
'''

cursor.execute(create_table_query)

# Commit the changes and close the database connection
conn.commit()
conn.close()


### Add entries to the database using SQLAlchemy
engine = create_engine('sqlite:///books.db', echo=True)
metadata = MetaData()

# Define the books table structure again
books = Table('books', metadata,
              Column('title', String),
              Column('author', String),
              Column('year', Integer))

conn = engine.connect()
# Insert the entries
insert_query = books.insert().values([
    {'title': 'The Weirdstone of Brisingamen', 'author': 'Alan Garner', 'year': 1960},
    {'title': 'Perdido Street Station', 'author': 'China Miéville', 'year': 2000},
    {'title': 'Thud!', 'author': 'Terry Pratchett', 'year': 2005},
    {'title': 'The Spellman Files', 'author': 'Lisa Lutz', 'year': 2007},
    {'title': 'Small Gods', 'author': 'Terry Pratchett', 'year': 1992}
])
conn.execute(insert_query)
conn.close()


### Select, sort, and print the title column
# Reconnect to the database using sqlite3 to then perform the query
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

# Select and print the title column in alphabetical order
select_query = 'SELECT title FROM books ORDER BY title ASC;'
for row in cursor.execute(select_query):
    print(row[0])

conn.close()

2024-02-10 18:08:14,033 INFO sqlalchemy.engine.Engine INSERT INTO books (title, author, year) VALUES (?, ?, ?), (?, ?, ?), (?, ?, ?), (?, ?, ?), (?, ?, ?)
2024-02-10 18:08:14,033 INFO sqlalchemy.engine.Engine [no key 0.00028s] ('The Weirdstone of Brisingamen', 'Alan Garner', 1960, 'Perdido Street Station', 'China Miéville', 2000, 'Thud!', 'Terry Pratchett', 2005, 'The Spellman Files', 'Lisa Lutz', 2007, 'Small Gods', 'Terry Pratchett', 1992)
2024-02-10 18:08:14,033 INFO sqlalchemy.engine.Engine COMMIT
Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!